* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: white;
    font-family: Nunito;
    color: #1C234F;
}
p{
    color: #7C87AD;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway;
    color: #1C234F;
}
  